@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.7;
    padding-top:56px;
    padding-bottom: 56px;
}

/*-- nav --*/
/* .navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 1.4rem;
}
.nav-link {
    font-size: 1.1rem !important;
}


.jumbotron {
  padding: 2rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

hr.divider {
  max-width: 3.25rem;
  border-width: .2rem;
  border-color: #f4623a;
}

.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 100%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.services {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.services hr {
  border-top: 2px solid #b4b4b4;
  width: 100%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.contact {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.contact hr {
  border-top: 2px solid #b4b4b4;
  width: 100%;
  margin-top: .3rem;
  margin-bottom: 1rem;
} */

/*-- form control --*/
/* input.form-control {
  background:#fff;
  border:solid 1px #ddd;
  color:#000;
  padding:15px 30px;
  margin-right:3%;
  margin-bottom:30px;
  outline:none;
  border-radius: 0;
}

textarea.form-control {
  background:#fff;
  color:#000;
  border:solid 1px #ddd;
  padding:15px 30px;
  margin-bottom:40px;
  outline:none;
  height:200px;
  border-radius: 0;
}

button.contact.submit {
  background:#333;
  font-family:'Lato',sans-serif;
  color:#fff;
  font-size:1em;
  font-weight:400;
  text-align:center;
  margin:0;
  border:none!important;
  border-radius:3px;
  padding:15px 45px;
}

button.contact.submit:hover {
  background:#222;
}

.form-control:focus{
  border-color: #222;
  outline: 0;
}

.done {
  display:none;
} */

/*-- footer --*/



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








